.title_cont {
    color: #423831;
    font-family: B52;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.title_cont_i {
    color: #000;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 2.07px;
    margin: 0;
}

.txt_cont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.card_main {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
