#header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

/* Гамбургер иконка */
.menu-btn{
    position: relative;
    z-index: 2;
    overflow: hidden;
}
.menu_alst{
    position: relative;
    z-index: 2;
    overflow: hidden;
}


/* Меню, которое будет появляться */
.menu {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu.active {
    transform: translateX(0);
}

.menu li {
    list-style-type: none;
}

.split {
    margin-bottom: 15px;
}

.split a{
    list-style-type: none;
    font-size: 18px;
    font-family: 'Montserrat';
    line-height: 24px;
    letter-spacing: 2.07px;
    opacity: .6;
    font-weight: 300;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
}